import(RcppArmadillo, sandwich)
importFrom(Rcpp, evalCpp)
importFrom("MASS", "mvrnorm")
importFrom("stats", "binomial", "glm", "optim", "pnorm", "rbinom", "vcov")
useDynLib(maxAUC, .registration = TRUE)

export(aucmax, smrce, sim4)
